p{
  padding: 10px 0px 0px 0px;
}
.headeroverall{
  background-image:url("http://thumb7.shutterstock.com/display_pic_with_logo/912316/343128869/stock-photo-retro-styled-image-of-boxes-with-vinyl-turntable-records-on-a-flee-market-343128869.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align:center;
  font-family: cursive;
  color:white;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 10% 0%;
  width: 100%;
}
.headertext{
  font-size: 50px;
}
.underheadertext{
  color: black;
  text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 20px;
}
.imgsize{
  width: 25%;
  height: 150px;
  float: left;
}
.whiteonblack{
  background-color: black;
  color:white;
}
.smalltext{
  font-size:8px;
}
.bottompadding{
  padding: 10px 0px;
}
.containerborder{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 0px 1px;
  width: 100%;
}
